body{
    margin:0;
    padding:0;
    background:linear-gradient(to bottom, #0f172a, #111827);
    font-family:Arial,Helvetica,sans-serif ;
    color:white;
    text-align:center;
    transition:0.3s;
    background:
    radial-gradient(
        circle at top,
        #1e293b,
        #030617
    );
}

h1{
    margin-top:  20px;
    letter-spacing:2px ;
    font-weight:900 ;
}

#gameArea{
    width:400px;
    height:600px;
    background:#222;

    background-image: 
    linear-gradient(
    rgba(255,255,255,0.05) 1px,
    transparent 1px
    ),

    linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 1px,
    transparent 1px
    );

    background-size:40px 40px ;

    margin:30px auto;
    position:relative;
    overflow:hidden;
    border:4px solid white;
    box-shadow:0 0 30px rgba(255,255,255,0.2);
    border-radius:12px;

    backdrop-filter:blur(10px) ;
}


#basket{
    width:100px;
    height:20px;
    background:#22c55e;
    box-shadow:0 0 20px #22c55e;
    position:absolute;
    bottom:20px;
    left:150px;
    border-radius:10px;
    transition:0.2s ;
}

#ball{
    width:30px;
    height:30px;
    background:#ef4444;
    box-shadow:0 0 20px #ef4444;
    border-radius:50%;
    position:absolute;
    top:0;
    left:100px;
    animation:pulse 1s infinite alternate;
}

#scoreBoard{
    font-size: 24px;
}

#startBtn {
    padding:12px 24px;
    border:none;
    background:orange;
    color:black;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
    font-weight:bold;
    font-weight:bold;
    letter-spacing:1px;
}

#pauseBtn{
    padding:12px 24px;
    margin-left:10px;
    border:none;
    background:cyan;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    letter-spacing:1px;
}

@media(max-width:500px){

    #gameArea{
        width:95%;
        height:500px;
    }

    #basket{
        width:80px;
    }

    #statsContainer{
        flex-direction:column ;
        align-items:center ;
        transition:0.3s;
    }

    #settingsPanel{
        width:90%;
        transition:0.3s;
    }
    
    #achievementBoard{
        width:90%;
    }

    footer{
        padding:30px 10px;
    }

}

#highScoreBoard{
    font-size:24px;
    margin-top:10px;
}

#gameOverModal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    justify-content: center;
    align-items: center;
}

#modalContent{
    background:#111827;
    color:white;
    padding:30px;
    border-radius:12px ;
    box-shadow:0 0 25px rgba(34,197,94,0.4) ;
    text-align:center;
    animation:modalPop 0.4s ease;
}

#restartBtn{
    padding: 10px 20px;
    margin-top:15px;
    border:none;
    background:#22c55e;
    cursor:pointer;
    border-radius:8px;
    font-weight:bold;
    letter-spacing:1px;
}

#instructions{
    font-size: 18px ;
    margin-top: 10px;
    color:#d1d5db;
}

button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

#pauseBtn,
#startBtn{

    margin-top:10px ;
    margin-bottom:10px ;
}

#startScreen{
    margin-top:20px ;
    padding :20px ;   
}

#startScreen h2{
    font-size:32px;
}

#startScreen p{
    color:#cbd5e1;
}

.scorePop{
    transform:scale(1.2);
    color:#22c55e;
}

#timerBoard{
    font-size:24px;
    margin-top:10px;
}

footer{
    margin-top:40px;
    padding:50px;
    color:#94a3b8;
    font-size:14px;
}

#settingsPanel{
    width:320px ;
    margin:25px auto ;
    padding:24px ;
    background:#1e293b ;
    border-radius:16px ;
}

#settingsPanel h3{
    margin-bottom:15px ;
}

#settingsPanel select{
    background:#0f172a;
    color:white;
    border:none ;
    padding:10px ;
    width:100% ;
    margin-top:10px;
    border-radius:8px ;
}

.lightMode{
    background:white;
    color:black;
}

.lightMode #gameArea{
    background: #e2e8f0;
    border-color:black;
}

.lightMode #modalContent{
    background:white;
    color:black;
}

#playerSection{

    margin-top:25px ;
    display:flex;
    flex-direction:column ;
    align-items: center;
    gap:12px;
}

#playerName{
    padding: 10px ;
    border:none;
    border-radius:8px;
}

#achievementBoard{
    width:320px;
    margin:30px auto;
    padding:24px;
    background: #1e293b;
    border-radius:16px ;
    box-shadow:0 0 20px rgba(255,255,255,0.08) ;
}

#achievementList{
    list-style:none;
    padding:0;
}

#pauseOverlay{
    position:fixed ;
    top:0;
    left:0 ;
    width:100% ;
    height:100% ;
    background:rgba(0,0,0,0.7) ;
    display:none ;
    justify-content:center ;
    align-items:center ;
    color:white ;
    font-size:40px ;
    z-index:1000;
}

#savePlayerBtn{
    padding:10px 16px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-left:10px ;
    font-weight:bold;
    letter-spacing:1px;
}

#settingsPanel{

    box-shadow:0 0 20px rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.1);
}

#settingsPanel select{
    background:#0f172a;
    color:white;
    border:none;
}

@keyframes pulse{

    from{
        box-shadow:0 0 10px #ef4444;
    }
    to{
        box-shadow:0 0 25px #ef4444;
    }
}

#basket:hover{
    transform:scale(1.05);
}

#comboBoard{
    font-size:22px ;
    margin-top:10px;
    color:#facc15;
}

.shake{

    animation:shake 0.3s;
}

@keyframes shake{

    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(0);}
}

h1{
    margin-top:20px ;

    animation:titleGlow 2s infinite alternate;
}

@keyframes titleGlow{
    from{
        text-shadow:0 0 10px ;
    }
    to{
        text-shadow:0 0 25px #22c55e;
    }
}

button:active{

    transform:scale(0.96);
}

#achievementList li{

    background:#0f172a;

    margin-top:10px ;

    padding:10px ;

    border-radius:8px ;
    
    animation:fadeIn 0.4s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px) ;
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

#gameArea{
    transition:0.3s;
}

#emptyAchievementText{
    color:#94a3b8;
    font-size:14px; 
}

@keyframes fadeText{
    from{

        opacity:0.5;
    }
    to{
        opacity:1;
    }
}

.lightMode #statsContainer div{
    background:#cbd5e1;
    color:black;
    animation:fadeText 2s infinite alternate ;
}

.lightMode #settingsPanel {
    background:#cbd5e1 ;
    color:black ;
}

.lightMode #achievementBoard{
    background:#cbd5e1 ;
    color:black;
}

#settingsPanel label{
    font-size:15px ;
    color:#cbd5e1 ; 
}

#statsContainer{
    width:90%;
    max-width:800px ;
    margin:25px auto;
    display:flex ;
    flex-wrap:wrap ;
    justify-content:center ;
    gap:15px
}

#statsContainer div{
    background:#1e293b;
    min-width:120px ;
    padding:14px 18px ;
    border-radius:14px ;
    box-shadow:0 0 15px rgba(255,255,255,0.08) ;
}

.particle{
    width:10px;
    height:10px;
    background:#facc15;
    border-radius:50%;
    position:absolute;
    animation:particleFade 0.6s forwards;
}

@keyframes particleFade{
    from{
        opacity:1 ;
        transform:scale(1) ;
    }
    to{
        opacity:0;
        transform:scale(2) ;
    }
}

#loadingScreen{

    position: fixed;
    top:0;
    left:0;
    width:100% ;
    height:100% ;
    background:#0f172a;
    display:flex;
    flex-direction:column ;
    justify-content:center;
    align-items:center ;
    z-index: 2000;
}

#loadingBar{

    width:300px;
    height:20px ;
    background:#1e293b ;
    border-radius:20px;
    overflow:hidden ;
    margin-top:20px ;
}

#loadingFill{

    width:0%;
    height:100% ;
    background: #22c55e;
    animation:loadBar 2s forwards ;
}

@keyframes loadBar{

    from{
        width:0%;
    }
    to{
        width:100%
    }
}

#tipsBoard{

    width:320px;
    margin:30px auto;
    padding:24px;
    background:#1e293b ;
    border-radius:16px ;
    box-shadow:0 0 20px rgba(255,255,255,0.08) ;
}

#tipsBoard ul{

    text-align:left ;
    padding-left:20px ;
}

#tipsBoard li{
    margin-top:10px;
    color:#cbd5e1;
    line-height:1.6 ;
}

@keyframes modalPop{
    from{
        opacity:0;
        transform:scale(0.8) ;
    }
    to{
        opacity:1;
        transform:scale(1) ;
    }
}

#startBtn,
#pauseBtn,
#restartBtn,
#savePlayerBtn{
    box-shadow:0 0 15px rgba(255,255,255,0.1);
}

#gameArea:hover{
    box-shadow:0 0 40px rgba(34,197,94,0.25) ;
}

#loadingScreen h2{

    animation:loadingText 1s infinite alternate;

}

@keyframes loadingText{
    from{

        opacity:0.5;
    }
    to{
        opacity:1;
    }
}
#statsContainer div:hover{
    transform:translateY(-4px) ;
}

#achievementList li:hover{
    transform:scale(1.03) ;
}

.lightMode #tipsBoard{
    background:#cbd5e1 ;
    color:black;
}

#pauseContent{

    display:flex;
    flex-direction: column;
    align-items:center ;
    gap:20px;

}

#resumeBtn{

    padding:14px 24px ;
    border:none;
    border-radius:10px ;
    background:#22c55e ;
    color:white;
    font-size:18px ;
    cursor:pointer ;
    box-shadow:0 0 20px rgba(34,197,94,0.3);
    font-weight:bold;
    letter-spacing:1px;

}

#countdownText{
    font-size:80px;
    animation:countZoom 1s infinite;
}

@keyframes countZoom{
    0%{
        transform:scale(0.6) ;
        opacity:0.5;
    }
    100%{
        transform:scale(1) ;
        opacity:1 ;
    }
}

#profileCard{

    width: 380px;
    margin:30px auto;
    background:#1e293b ;
    border-radius:20px ;
    padding: 30px;

    display: flex;
    gap: 25px;

    align-items:center;
    box-shadow:0 0 30px rgba(255,255,255,0.08) ;

    border:1px solid rgba(255,255,255,0.1);

}

#profileAvatar{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#22c55e;

    display:flex;
    justify-content:center;
    align-items:center ;

    font-size:  42px;
    font-weight: bold;

    color:white;
    box-shadow:0 0 25px rgba(34,197,94,0.3) ;
}

#profileDetails{

    flex:1;
    text-align:left ;
}

#playerStatsMini{

    margin-top:18px ;
    display:flex ;
    flex-direction:column ;
    gap:10px;
}

.lightMode #profileCard{
    background:#cbd5e1 ;
    color:black;
}

.lightMode .miniStat{
    background:white ;
}

#achievementHeader{

    display:flex ;
    justify-content: space-between;
    align-items:center ;
    margin-bottom:20px ;
}

#achievementCount{
    background:#22c55e;
    padding:8px 14px;
    border-radius:20px ;
    font-size:  14px; 

}

#eventFeed{
    width:380px;
    margin:30px auto;
    background:#1e293b ;
    padding:25px ;
    border-radius:16px ;
    box-shadow: 0 0 20px rgba(255,255,255,0.08);

}

#eventMessages{
    margin-top:20px ;
    display:flex ;
    flex-direction:column ;
    gap:10px;
    max-height:250px ;
    overflow-x:auto ;
}

.eventItem{
    background:#0f172a ;
    padding:12px;
    border-radius:10px ;
    text-align:left ;
    animation:fadeIn 0.3s ease ;
    border-left:4px solid #22c55e;
}

.flashEffect{
    animation:flashScreen 0.4s;
}

@keyframes flashScreen{
    0%{
        background:white;
    }
    100%{
        background:transparent ;
    }
}