/* ==============================
        REUSABLE COMPONENTS
============================== */

.glassCard{
    background:
    rgba(30,41,59,0.65);

    backdrop-filter:  
    blur(18px);

    border:
    1px solid rgba(255,255,255,0.08);

    border-radius: 24px;

    box-shadow: 
    0 0 25px rgba(0,0,0,0.25);
}


/*======================
  Common Button style
======================*/

.gameButton{
    border:none;
    border-radius:14px ;
    cursor:pointer;
    transition:0.3s ;
}

/* ==============================
        MAIN GAME AREA
============================== */

body{
    margin:0;
    padding:0 ;
    background: 
    linear-gradient(
        135deg,
        #000000,
        #38025c
    );
    color:white;
    font-family: 'Orbitron',sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
}

h1{
    margin-top:10px;
    margin-bottom:10px ;
    font-size:52px ;
    letter-spacing:2px ;
    font-weight:900 ;
}

#gameArea{
    width:460px;
    height:640px;
    background:#222;

    background-image: 
    linear-gradient(
    rgba(255,255,255,0.05) 1px,
    transparent 1px
    ),

    linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 1px,
    transparent 1px
    );

    background-size:40px 40px ;

    margin:30px auto;
    position:relative;
    overflow:hidden;
    border:4px solid white;
    box-shadow:0 0 30px rgba(255,255,255,0.2);
    border-radius:12px;
}


#basket{
    width:100px;
    height:20px;
    background:
    linear-gradient(
    90deg,
    #00ff9d,
    #00f5ff
    );
    box-shadow:0 0 20px #22c55e;
    position:absolute;
    bottom:20px;
    left:150px;
    border-radius:10px;
    transition:0.2s ;
}

#ball{
    width:30px;
    height:30px;
    background:#ef4444;
    box-shadow:0 0 20px #ef4444;
    border-radius:50%;
    position:absolute;
    top:0;
    left:100px;
    animation:pulse 1s infinite alternate;
}

#scoreBoard{
    font-size: 24px;
}

/* ==============================
        BUTTON SYSTEM
============================== */

#startBtn {
    padding:12px 24px;
    background:rgb(116, 217, 224);
    color:black;
    font-size:18px;
    font-weight:bold;
    font-weight:bold;
    letter-spacing:1px;
}

#pauseBtn{
    padding:12px 24px;
    margin-left:10px;
    background:rgb(119, 0, 255);
    font-size:18px;
    font-weight:bold;
    letter-spacing:1px;
}

/* ==============================
        RESPONSIVE DESIGN
============================== */

@media(max-width:500px){

    #gameArea{
        width:95%;
        height:500px;
    }

    #basket{
        width:80px;
    }

    #statsContainer{
        flex-direction:column ;
        align-items:center ;
        transition:0.3s;
    }

    #settingsPanel{
        width:90%;
        transition:0.3s;
    }
    
    footer{
        padding:30px 10px;
    }

}

#highScoreBoard{
    font-size:24px;
    margin-top:10px;
}

#gameOverModal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    justify-content: center;
    align-items: center;
}

#modalContent{
    background:#111827;
    color:white;
    padding:30px;
    border-radius:12px ;
    box-shadow:0 0 25px rgba(34,197,94,0.4) ;
    text-align:center;
    animation:modalPop 0.4s ease;
}

#restartBtn{
    padding: 10px 20px;
    margin-top:15px;
    background:#22c55e;
    font-weight:bold;
    letter-spacing:1px;
}

#instructions{
    font-size: 25px ;
    margin-top: 10px;
    color:#00ffc8;
    max-width:700px ;
    text-align:center ;
    line-height:1.7 ;
    margin-bottom:20px ;
}

button{
    transition:0.3s;
    background:
    linear-gradient(
        135deg,
        #00f5ff,
        #7c3aed
    );
    color:white;
    border:none;
    border-radius:14px ;
    padding:16px 32px;
    font-size:16px ;
    cursor:pointer;
    font-weight:bold ;
    box-shadow:
    0 0 20px rgba(0,245,255,0.25);

    position:relative ;
    overflow:hidden ;
}

button::before{
    content:"";
    position:absolute ;

    top:0;
    left:-100%;

    width:100%;
    height:100%;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.25),
        transparent
    ) ;
    transition:0.5s ;
}

button:hover::before{
    left:100%
}

button:hover{
    transform:
    translateY(-3px);

    box-shadow: 
    0 0 30px rgba(0,245,255,0.4);

    opacity:1;

}

#pauseBtn,
#startBtn{

    margin-top:10px ;
    margin-bottom:10px ;
}

#startScreen{
    margin-top:20px ;
    padding :20px ;   
}

#startScreen h2{
    font-size:32px;
}

#startScreen p{
    color:#cbd5e1;
}

.scorePop{
    transform:scale(1.2);
    color:#22c55e;
}

#timerBoard{
    font-size:24px;
    margin-top:10px;
}

footer{
    margin-top:28px;
    padding:50px;
    color:#94a3b8;
    font-size:14px;
}

#settingsPanel{
    width:420px;
    margin:25px auto ;
    padding:24px ;
}

#settingsPanel h3{
    margin-bottom:15px ;
}

#settingsPanel select{
    background:#0f172a;
    color:white;
    border:none ;
    padding:10px ;
    width:100% ;
    margin-top:10px;
    border-radius:8px ;
}

.lightMode{
    background:white;
    color:black;
}

.lightMode #gameArea{
    background: #e2e8f0;
    border-color:black;
    box-shadow:
    0 0 40px rgba(0,245,255,0.2);
}

.lightMode #modalContent{
    background:white;
    color:black;
}

#playerSection{

    margin-top:25px ;
    display:flex;
    flex-direction:column ;
    align-items: center;
    gap:12px;
}

#playerName{
    padding: 10px ;
    border:none;
    border-radius:8px;
}

/* ==============================
        ACHIEVEMENT SECTION
============================== */

#achievementBoard{
    width:360px;
    margin:30px auto;
    padding:24px;
    background: #1e293b;
    border-radius:16px ;
    box-shadow:0 0 20px rgba(255,255,255,0.08) ;
    width:90%;
}

#achievementList{
    list-style:none;
    padding:0;
}

#pauseOverlay{
    position:fixed ;
    top:0;
    left:0 ;
    width:100% ;
    height:100% ;
    background:rgba(0,0,0,0.7) ;
    display:none ;
    justify-content:center ;
    align-items:center ;
    color:white ;
    font-size:40px ;
    z-index:1000;
}

#savePlayerBtn{
    padding:10px 16px;
    margin-left:10px ;
    font-weight:bold;
    letter-spacing:1px;
}

@keyframes pulse{

    from{
        box-shadow:0 0 10px #ef4444;
    }
    to{
        box-shadow:0 0 25px #ef4444;
    }
}

#basket:hover{
    transform:scale(1.05);
}

#comboBoard{
    font-size:22px ;
    margin-top:10px;
    color:#facc15;
}

.shake{

    animation:shake 0.3s;
}

@keyframes shake{

    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(0);}
}

h1{
    margin-top:20px ;

    animation:titleGlow 2s infinite alternate;
}

@keyframes titleGlow{
    from{
        text-shadow:0 0 10px ;
    }
    to{
        text-shadow:0 0 25px #22c55e;
    }
}

button:active{

    transform:scale(0.96);
}

#achievementList li{

    background:#0f172a;

    margin-top:10px ;

    padding:10px ;

    border-radius:8px ;
    
    animation:fadeIn 0.4s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px) ;
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

#gameArea{
    transition:0.3s;
}

#emptyAchievementText{
    color:#94a3b8;
    font-size:14px; 
}

@keyframes fadeText{
    from{

        opacity:0.5;
    }
    to{
        opacity:1;
    }
}

.lightMode #statsContainer div{
    background:#cbd5e1;
    color:black;
    animation:fadeText 2s infinite alternate ;
}

.lightMode #settingsPanel {
    background:#cbd5e1 ;
    color:black ;
}

.lightMode #achievementBoard{
    background:#cbd5e1 ;
    color:black;
}

#settingsPanel label{
    font-size:15px ;
    color:#cbd5e1 ; 
}

#statsContainer{
    width:90%;
    max-width:800px ;
    margin:25px auto;
    display:flex ;
    flex-wrap:wrap ;
    justify-content:center ;
    gap:15px
}

#statsContainer div{
    background:#1e293b;
    min-width:120px ;
    padding:14px 18px ;
    border-radius:14px ;
    box-shadow:0 0 15px rgba(255,255,255,0.08) ;
}

.particle{
    width:10px;
    height:10px;
    background:#facc15;
    border-radius:50%;
    position:absolute;
    animation:particleFade 0.6s forwards;
}

@keyframes particleFade{
    from{
        opacity:1 ;
        transform:scale(1) ;
    }
    to{
        opacity:0;
        transform:scale(2) ;
    }
}

#loadingScreen{

    position: fixed;
    top:0;
    left:0;
    width:100% ;
    height:100% ;
    background:#0f172a;
    display:flex;
    flex-direction:column ;
    justify-content:center;
    align-items:center ;
    z-index: 2000;
}

#loadingBar{

    width:300px;
    height:20px ;
    background:#1e293b ;
    border-radius:20px;
    overflow:hidden ;
    margin-top:20px ;
}

#loadingFill{

    width:0%;
    height:100% ;
    background: #22c55e;
    animation:loadBar 2s forwards ;
}

@keyframes loadBar{

    from{
        width:0%;
    }
    to{
        width:100%
    }
}

#tipsBoard{
    width:420px;
    margin:30px auto;
    padding:24px;
}

#tipsBoard ul{

    text-align:left ;
    padding-left:20px ;
}

#tipsBoard li{
    margin-top:10px;
    color:#cbd5e1;
    line-height:1.6 ;
}

@keyframes modalPop{
    from{
        opacity:0;
        transform:scale(0.8) ;
    }
    to{
        opacity:1;
        transform:scale(1) ;
    }
}

#startBtn,
#pauseBtn,
#restartBtn,
#savePlayerBtn{
    box-shadow:0 0 15px rgba(255,255,255,0.1);
}

#gameArea:hover{
    box-shadow:0 0 40px rgba(34,197,94,0.25) ;
}

#loadingScreen h2{

    animation:loadingText 1s infinite alternate;

}

@keyframes loadingText{
    from{

        opacity:0.5;
    }
    to{
        opacity:1;
    }
}
#statsContainer div:hover{
    transform:translateY(-4px) ;
}

#achievementList li:hover{
    transform:scale(1.03) ;
}

.lightMode #tipsBoard{
    background:#cbd5e1 ;
    color:black;
}

#pauseContent{

    display:flex;
    flex-direction: column;
    align-items:center ;
    gap:20px;

}

#resumeBtn{
    padding:14px 24px ;
    background:#22c55e ;
    color:white;
    font-size:18px ;
    box-shadow:0 0 20px rgba(34,197,94,0.3);
    font-weight:bold;
    letter-spacing:1px;
}

#countdownText{
    font-size:80px;
    animation:countZoom 1s infinite;
}

@keyframes countZoom{
    0%{
        transform:scale(0.6) ;
        opacity:0.5;
    }
    100%{
        transform:scale(1) ;
        opacity:1 ;
    }
}

/* ==============================
        PROFILE SECTION
============================== */

#profileCard{
    width: 380px;
    margin:30px auto;
    padding: 30px;
    display: flex;
    gap: 25px;
    align-items:center;
}

#profileAvatar{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#22c55e;

    display:flex;
    justify-content:center;
    align-items:center ;

    font-size: 28px;
    font-weight: bold;

    color:white;
    box-shadow:0 0 25px rgba(34,197,94,0.3) ;
}

#profileDetails{

    flex:1;
    text-align:left ;
}

#playerStatsMini{

    margin-top:18px ;
    display:flex ;
    flex-direction:column ;
    gap:10px;
}

.lightMode #profileCard{
    background:#cbd5e1 ;
    color:black;
}

.lightMode .miniStat{
    background:white ;
}

#achievementHeader{

    display:flex ;
    justify-content: space-between;
    align-items:center ;
    margin-bottom:20px ;
}

#achievementCount{
    background:#22c55e;
    padding:8px 14px;
    border-radius:20px ;
    font-size:  14px; 

}

/* ==============================
        EVENT FEED SYSTEM
============================== */

#eventFeed{
    width:420px;
    margin:30px auto;
    padding:25px ;
    min-height:120px; ;
}

#eventMessages{
    margin-top:20px ;
    display:flex ;
    flex-direction:column ;
    gap:10px;
    max-height:250px ;
    overflow-x:auto ;
    color:#cbd5e1;
    font-size:14px ;
}

.eventItem{
    background:#0f172a ;
    padding:12px;
    border-radius:10px ;
    text-align:left ;
    animation:fadeIn 0.3s ease ;
    border-left:4px solid #22c55e;
}

.flashEffect{
    animation:flashScreen 0.4s;
}

@keyframes flashScreen{
    0%{
        background:white;
    }
    100%{
        background:transparent ;
    }
}

#topSection{
    display:flex ;
    justify-content:center ;
    align-items:flex-start ;
    gap:28px;
    flex-wrap: wrap;
    margin-top:40px ;
}

#playerSection,
#eventBoard{
    background:
    rgba(30,41,59,0.65);

    backdrop-filter:blur(18px);

    border:
    1px solid rgba(255,255,255,0.08);

    border-radius:24px ;

    box-shadow:
    0 0 25px rgba(0,0,0,0.25);
}

#statsContainer{

    display:flex;
    justify-content:center ;
    flex-wrap:wrap ;
    gap:18px;
    margin-top:30px ;
}

#bottomSection{
    display:flex;
    justify-content:center ;
    align-items:flex-start ;
    gap: 30px;
    flex-wrap:wrap ;
    margin-top:40px ;
}

#gameArea::before{
    content:"";

    position: absolute;

    width:200%;
    height:200%;

    background:
    radial-gradient(
        rgba(111, 1, 255, 0.171),
        transparent 60%
    );

    animation:
    rotateGlow 10s linear infinite;

    top:-50%;
    left:-50% ;
}

@keyframes rotateGlow{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform:rotate(360deg) ;
    }
}

#achievementPopup{
    position:fixed ;

    top: 30px;
    right:30px ;

    background:
    rgba(15,23,42,0.9);

    padding:18px 24px ;

    border-radius:16px ;

    border:
    1px solid rgba(255,255,255,0.08);

    color:white;

    font-size:14px;

    backdrop-filter:blur(16px) ;

    transform:translateX(400px) ;
    transition:0.5s ;
    z-index:3000 ;
}

.eventItem{
    transition:0.3s ;
}

.eventItem:hover{
    transform:translateX(6px) ;

    border-left:
    4px solid #00f5ff ;
}

#profileCard:hover,
#settingsPanel:hover,
#achievementBoard:hover,
#tipsBoard:hover,
#eventFeed:hover{

    transform:
    translateY(-6px) ;

    transition:0.3s ;

    box-shadow:
    0 0 35px rgba(0,245,255,0.12);
}