body{
    margin:0;
    padding:0;
    background:linear-gradient(to bottom, #0f172a, #111827);
    font-family:Arial,Helvetica,sans-serif ;
    color:white;
    text-align:center;
}

h1{
    margin-top:  20px;
}

#gameArea{
    width:400px;
    height:600px;
    background:#222;
    margin:20px auto;
    position:relative;
    overflow:hidden;
    border:4px solid white;
    box-shadow:0 0 30 px rgba(255,255,255,0.2);
}

#basket{
    width:100px;
    height:20px;
    background:#22c55e;
    box-shadow:0 0 20px #22c55e;
    position:absolute;
    bottom:20px;
    left:150px;
    border-radius:10px;
}

#ball{
    width:30px;
    height:30px;
    background:#ef4444;
    box-shadow:0 0 20px #ef4444;
    border-radius:50%;
    position:absolute;
    top:0;
    left:100px;
}

#scoreBoard{
    font-size: 24px;
}

#startBtn {
    padding:12px 24px;
    border:none;
    background:orange;
    color:black;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
    font-weight:bold;
}

#pauseBtn{
    padding:12px 24px;
    margin-left:10px;
    border:none;
    background:cyan;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

@media(max-width:500px){

    #gameArea{
        width:95%;
        height:500px;
    }

    #basket{
        width:80px;
    }
}

#highScoreBoard{
    font-size:24px;
    margin-top:10px;
}

#gameOverModal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    justify-content: center;
    align-items: center;
}

#modalContent{
    background:white;
    color:black;
    padding:30px;
    border-radius:12px ;
    text-align:center;
}

#restartBtn{
    padding: 10px 20px;
    margin-top:15px;
    border:none;
    background:#22c55e;
    cursor:pointer;
    border-radius:8px;
}

#instructions{
    font-size: 18px ;
    margin-top: 10px;
    color:#d1d5db;
}

button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

#startscreen{
    margin-top:20px ;
    padding :20px ;   
}

#startScreen h2{
    font-size:32px;
}

#startScreen p{
    color:#cbd5e1;
}

.scorePop{
    transform:scale(1,2);
    color:#22c55e
}